.main.container{
	height: 100%;
	padding-top: 50px;
	padding-bottom: 47px;
}

/*header footer*/
.ui.menu.item img.logo{
	margin-right: 1.5em;
}

#footer{
  margin: 5em 0em 0em;
  padding: 1em 0em;
  width: 100%;
}

#misplaced_barriers_menu {
	background: rgba(206, 27, 27, 0.9) !important;
}